<header>
    <a routerLink="calculadora">Calculadora</a>
    <a routerLink="lista-pessoas">Lista de pessoas</a>
    <a routerLink="calculadora-retangulo">Calculadora retangulo</a>
    <a routerLink="calculadora-media">Calculadora média</a>
    <a routerLink="calculadora-temperatura">Calculadora temperatura</a>
    <a routerLink="lista-tarefas">Lista de tarefas</a>
    <a routerLink="lista-alunos">Lista de alunos</a>
    <a routerLink="lista-turmas">Lista de turmas</a>
    <a routerLink="lista-materias">Lista de materias</a>
    <a routerLink="lista-professores">Lista de professores</a>
</header>